<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ec7ad087-9b1e-4ff4-9282-7e5394e823fa/resourcegroups/HSE/providers/Microsoft.Web/sites/hsInspection-dev2</ResourceId>
    <ResourceGroup>HSE</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hsinspection-dev2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hsinspection-dev2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hsInspection-dev2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hsInspection-dev2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Inspection.Models.ApplicationDbContext, Inspection" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="InspectionModelContext" Order="2" Enabled="False">
          <Destination Path="Data Source=wxsqldev.database.windows.net;Initial Catalog=HSE_Inspection;Persist Security Info=True;User ID=Wessexadmin;Password=D46WU95Emj;Application Name=EntityFramework" Name="Data Source=wxsqldev.database.windows.net;Initial Catalog=HSE_Inspection;Persist Security Info=True;User ID=Wessexadmin;Password=D46WU95Emj;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Inspection.Models.InspectionModelContext, Inspection" MigrationConfiguration="Inspection.Migrations.Configuration, Inspection" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="InspectionModelContext-Web.config Connection String">
      <ParameterValue>Data Source=wxsqldev.database.windows.net;Initial Catalog=HSE_Inspection;Persist Security Info=True;User ID=Wessexadmin;Password=D46WU95Emj;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>