
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style type="text/css">
        #alertbody {
            width: 416px;
            min-height: 230px;
            height: auto !important;
            color: #333;
            height: 230px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            line-height: 16px;
            padding: 10px 20px 10px 360px;
            margin-bottom: 90px;
            background: url(../images/AccessDenied.jpg) no-repeat top;
        }
    </style>
</head>

<body style="padding-left:250px; padding-top:150px;">
    <div id="alertbody">
        <h1 style="text-align:center">Access Denied</h1>
        <div class="text-center">
            <strong><p style="text-align:center; padding-top: 50px">Please contact Ian Blair & Mark Regler for access to this portal.</p></strong>
        </div>
    </div>
</body>
</html>
